<form action="/notes" method="post">
    <label for="note">New note</label>
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <input type="submit" name="create" value="Create note">
</form>